.back-to-home{
    text-decoration: none;
    color: #484848;
}

.back-to-home:active{
    color: black;
}
.more-proj-text{
    font-size: 11px;
    color: #8a8a8a;
    margin-bottom: 10px;
    text-align: center;
}